[package]
name = "digest"
description = "Traits for cryptographic hash functions"
version = "0.10.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/digest"
repository = "https://github.com/RustCrypto/traits"
keywords = ["digest", "crypto", "hash"]
categories = ["cryptography", "no-std"]

[dependencies]
generic-array = "0.14"
crypto-common = { version = "0.1", path = "../crypto-common" }

blobby = { version = "0.3", optional = true }

[features]
default = ["block-padding"]
alloc = []
std = ["alloc", "crypto-common/std"]
dev = ["blobby"]
block-padding = ["crypto-common/block-padding"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
