[package]
name = "digest"
description = "Traits for cryptographic hash functions"
version = "0.10.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/digest"
repository = "https://github.com/RustCrypto/traits"
keywords = ["digest", "crypto", "hash"]
categories = ["cryptography", "no-std"]

[dependencies]
generic-array = "0.14"
block-buffer = "0.10"
crypto-common = { version = "0.1", path = "../crypto-common", default-features = false }

subtle = { version = "=2.4", default-features = false, optional = true }
blobby = { version = "0.3", optional = true }

[features]
default = ["block-padding", "mac"]
mac = ["subtle"] # Enable MAC and UHF traits
alloc = []
std = ["alloc", "crypto-common/std"]
dev = ["blobby"]
block-padding = ["block-buffer/block-padding"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
