[package]
name = "aead"
version = "0.3.1"
authors = ["RustCrypto Developers"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
description = "Traits for Authenticated Encryption with Associated Data (AEAD) algorithms"
documentation = "https://docs.rs/aead"
repository = "https://github.com/RustCrypto/traits"
keywords = ["crypto", "encryption"]
categories = ["cryptography", "no-std"]

[dependencies]
generic-array = { version = "0.14", default-features = false }
heapless = { version = "0.5", optional = true }
blobby = { version = "0.2", optional = true }

[features]
default = ["alloc"]
alloc = []
std = ["alloc"]
dev = ["blobby"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
