[package]
name = "crypto-mac"
version = "0.6.2"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = "Trait for Message Authentication Code (MAC) algorithms"
documentation = "https://docs.rs/crypto-mac"
repository = "https://github.com/RustCrypto/traits"
keywords = ["crypto", "mac"]
categories = ["cryptography", "no-std"]

[dependencies]
generic-array = "0.9"
constant_time_eq = "0.1"

[features]
dev = []
std = []

[badges]
travis-ci = { repository = "RustCrypto/traits" }

[package.metadata.docs.rs]
features = [ "std" ]
