[package]
name = "crypto"
version = "0.4.0-pre" # Also update html_root_url in lib.rs when bumping this
description = """
Resources for building cryptosystems in Rust using the RustCrypto project's ecosystem.
"""
authors = ["The RustCrypto Project Developers"]
license = "Apache-2.0 OR MIT"
documentation = "https://docs.rs/crypto"
repository = "https://github.com/RustCrypto/traits"
keywords = ["crypto", "encryption", "rustcrypto"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2021"
rust-version = "1.57"

[dependencies]
aead = { version = "0.5", optional = true, path = "../aead" }
cipher = { version = "0.4", optional = true }
digest = { version = "0.10", optional = true }
elliptic-curve = { version = "0.12", optional = true, path = "../elliptic-curve" }
mac = { version = "0.11", package = "crypto-mac", optional = true }
password-hash = { version = "0.4", optional = true, path = "../password-hash" }
signature = { version = "1.5", optional = true, default-features = false, path = "../signature" }
universal-hash = { version = "=0.5.0-pre.2", optional = true, path = "../universal-hash" }

[features]
std = [
    "aead/std",
    "cipher/std",
    "digest/std",
    "elliptic-curve/std",
    "mac/std",
    "password-hash/std",
    "signature/std",
    "universal-hash/std"
]

[package.metadata.docs.rs]
all-features = true
