name: digest

on:
  pull_request:
      paths:
        - "digest/**"
        - "Cargo.*"
  push:
    branches: master
    paths:
    - "digest/**"
    - "Cargo.*"

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
      - working-directory: digest
        run: cargo build --no-default-features --release --target ${{ matrix.target }}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
    - run: cargo check --all-features
      working-directory: digest
    - run: cargo test --release
      working-directory: digest
    - run: cargo test --features dev --release
      working-directory: digest
    - run: cargo test --features std --release
      working-directory: digest
    - run: cargo test --all-features --release
      working-directory: digest
