name: universal-hash

on:
  pull_request:
    paths:
      - "universal-hash/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: universal-hash

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v2
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
          profile: minimal
      # Isolate this crate from workspace which is otherwise MSRV 1.56 due to 2021 edition crates
      - run: rm ../Cargo.toml
      - run: cargo build --no-default-features --release --target ${{ matrix.target }}

  minimal-versions:
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
        working-directory: ${{ github.workflow }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v2
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          profile: minimal
      # Isolate this crate from workspace which is otherwise MSRV 1.56 due to 2021 edition crates
      - run: rm ../Cargo.toml
      - run: cargo check --all-features
      - run: cargo test --no-default-features --release
      - run: cargo test --release
      - run: cargo test --all-features --release
