name: Workspace

on:
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
  push:
    branches: master
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.93.0
          components: clippy
      - run: cargo clippy --all --all-features --tests -- -D warnings

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      # TODO(tarcieri): remove `--exclude crypto` after new release series
      - env:
          RUSTDOCFLAGS: "--cfg docsrs"
        run: cargo doc --workspace --all-features --no-deps --exclude crypto

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.43.1
